.main{
    display: flex;
    /* flex-wrap: wrap; */
    /* padding: 100px; */
    
}
body {
	background: #2a2a2b;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "Montserrat", sans-serif;
	height: 100vh;
	margin: 20px 0 50px;
}
.title{
    color: white;
    /* margin: 20px; */
    padding: 40px 40px 10px;  
    font-weight: bold;
}
.para1{
    color: white;
    font-weight: 600;
    font-size: 25px;
    padding: 50px 30px 10px;   
}
.para2{
    color: white;
    font-size: 20px;
    padding: 20px 30px;   
}
.data{
    color: white;
    background-color: #1A277B;
    padding: 20px;
    border-radius: 6px;
    margin: 20px;
}
.container2{
    display: flex;
    flex-direction: column; 
    flex: 50%;
    border-radius: 20px;
    margin: 20px 30px;
    background-color: #334EFF;
}
.container{
    display: flex;
    flex: 50%;
    flex-direction: column;
    background-color: #fff;
	/* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
	position: relative;
	overflow: hidden;
	width: 600px;
    width: 550px;
    padding-bottom: 30px;
}
.header{
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    margin-top: 30px;
    /* margin-left: 75px; */
}
.text{
    color: #000000;
    font-size: 35px;
    font-weight: 600;
}
.underline{
    width: 61px;
    height: 5px;
    background: #000000;
    border-radius: 9px;
}
.info{
    /* margin-left: 75px; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
}
.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.input{
    display: flex;
    align-items: center;
    /* margin: auto; */
    width: 380px;
    height: 50px;
    background: #eaeaea;
    border-radius: 6px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 14px;
    padding-left: 12px;
}
.forgot-password{
    margin-top: 27px;
    /* margin-left: 75px; */
    color: #797979;
    font-size: 16px;
}
.forgot-password san{
    color: #334EFF;
    cursor: pointer;
}
.submit{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 50px;
    color: #fff;
    background: #334EFF;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    transition-duration: 0.4s;
}
.submit:hover {
    background-color: #640af6; 
}
.gray{
    background: #eaeaea;
    color: #676767;
}