@import url("https://fonts.googleapis.com/css2?family=Inder&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inder", sans-serif;
  font-weight: 400;
  font-optical-sizing: auto;
}

.active img#sidebar {
  filter: invert(24%) sepia(58%) saturate(5723%) hue-rotate(233deg)
    brightness(101%) contrast(101%);
}
